<div class="bg-light" *ngIf="!isUpdated">

  <div class="container">
    <div class="py-1 ">
      <img class="d-block mx-auto mb-4" src="../../assets/Arsenal-15-16-Third-Kit (8).jpg" alt="" width="72"
        height="72">
      <h2>User Profile</h2>
      <p class="lead">Please use this form to update your personal information.</p>
    </div>

    <div class="row">
      <div class="col-md-8 order-md-2">
        <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)" class="needs-validation" novalidate>
          <div class="row">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.userSelected._id">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <!--  <input type="text" name="username" #_id="ngModel" class="form-control" placeholder="Username" required autofocus [(ngModel)]="userService.userSelected.username">-->
              <input type="text" class="form-control" #_id="ngModel" placeholder="" name="firstName" required [(ngModel)]="userService.userSelected.firstName">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" #_id="ngModel" placeholder="" name="lastName" required [(ngModel)]="userService.userSelected.lastName">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="dob">Date Of Birth</label>
              <input type="date" class="form-control" #_id="ngModel" name="dob" placeholder="12/12/1900" [(ngModel)]="userService.userSelected.dob">
              <div class="invalid-feedback">
                Please enter a valid date of birth.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="pob">Place Of Birth</label>
              <input type="text" class="form-control" #_id="ngModel" name="pob" placeholder="Yaounde" [(ngModel)]="userService.userSelected.pob">
              <div class="invalid-feedback">
                Please enter a valid place of birth.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="telephone">Telephone</label>
            <input type="text" class="form-control" #_id="ngModel" name="telephone" placeholder="999-99-99-99" [(ngModel)]="userService.userSelected.telephone">
            <div class="invalid-feedback">
              Please enter a valid telephone Number.
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" #_id="ngModel"  name="email" placeholder="you@example.com" [(ngModel)]="userService.userSelected.email">
            <div class="invalid-feedback">
              Please enter a valid email.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="quartier">Town</label>
              <input type="text" class="form-control" #_id="ngModel" name="quartier" placeholder="Bonamoussadi" [(ngModel)]="userService.userSelected.town">
              <div class="invalid-feedback">
                Please enter a valid town.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="city">City</label>
              <input type="text" class="form-control" #_id="ngModel" name="city" placeholder="Douala" [(ngModel)]="userService.userSelected.city">
              <div class="invalid-feedback">
                Please enter a valid city.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="emerName">Emergency Contact</label>
              <input type="text" class="form-control" #_id="ngModel" name="emerName" [(ngModel)]="userService.userSelected.emerName">
              <div class="invalid-feedback">
                Please enter a valid Name.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="emerPhone">Telephone</label>
              <input type="text" class="form-control" #_id="ngModel" name="emerPhone" placeholder="999-99-99-99" [(ngModel)]="userService.userSelected.emerPhone">
              <div class="invalid-feedback">
                Please enter a valid place of birth.
              </div>
            </div>
          </div>

          <hr class="mb-4">

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" #_id="ngModel" name="username" placeholder="Username" required [(ngModel)]="userService.userSelected.username">
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="curPassword">Current Password</label>
            <input type="password" class="form-control" #_id="ngModel" name="curPassword" required [(ngModel)]="userService.userSelected.password">
            <div class="invalid-feedback">
              Please enter your current password.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" #_id="ngModel" name="newPassword" required [(ngModel)]="userService.userSelected.password">
            </div>
            <div class="col-md-6 mb-3">
              <label for="newPassword2">Confirm Password</label>
              <input type="password" class="form-control" #_id="ngModel" name="newPassword2" required [(ngModel)]="userService.userSelected.password">
            </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Update Profile</button>
        </form>
      
      </div>
      <div class="col-md-2 order-md-1">this is just a place holder</div>
      <div class="col-md-2 order-md-3">this is just a place holder</div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
</div>
  <!-- Return to Admin home or non admin-->
  <div *ngIf="isUpdated && isAdmin">
    <app-admin-home [newUser]="userService.userSelected"></app-admin-home>
</div>
<div *ngIf="isUpdated && !isAdmin">
    <app-teacher-home [newUser]="userService.userSelected"></app-teacher-home>
</div>